/* Estilos Personalizados - PetShop Vida Mansa */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

header {
    background: linear-gradient(90deg, #5188be 0%, #0a5096 100%);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* regra para o banner aparecer inteiro e sem cortes */
.carousel-item img {
    height: auto;        /* a altura vai se ajustar sozinha */
    max-height: 550px;   /* define um limite para nao ficar gigante em telas vgas */
    width: 100%;         /* ocupa toda a largura do site */
    object-fit: contain; /* garante que a imagem inteira apareça no espaco */
    border-radius: 8px;
}
/* Efeito de destaque nos cards de produtos */
.card {
    transition: transform 0.3s;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

footer {
    border-top: 5px solid  #0a5096; /* Uma linha amarela para dar cor */
}

/* regra para padronizar o tamanho das fotos dos produtos */
.card-img-top {
    height: 200px; /* voce pode mudar esse numero se quiser elas maiores ou menores */
    width: 100%; /* faz a imagem ocupar toda a largura do card */
    object-fit: cover; /* esse e o segredo: ele corta as sobras da foto em vez de esmagar */
    background-color: #ffffff; /* coloca um fundo branco se a foto for menor */
}

